<publishData>
    <publishProfile profileName="gembello - Web Deploy" publishMethod="MSDeploy" publishUrl="gembello.scm.azurewebsites.net:443" msdeploySite="gembello" userName="$gembello" destinationAppUrl="http://gembello.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites">
        <databases />
    </publishProfile>
    <publishProfile profileName="gembello - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-blu-173.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="gembello\$gembello" destinationAppUrl="http://gembello.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites">
        <databases />
    </publishProfile>
    <publishProfile profileName="gembello - ReadOnly - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-blu-173dr.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="gembello\$gembello" destinationAppUrl="http://gembello.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites">
        <databases />
    </publishProfile>
</publishData>