body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(0, 121, 191);
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: navy;
}

h2 {
  margin: 0 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

form {
  margin-bottom: 1rem;
}

form.query {
  display: flex;
}
form.auth, form.display {
  justify-content: flex-end;
}

.popover {
  max-width: none;
}

.group {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: .3rem;
}

.cardlist, .journal {
  width: 100%;
  padding: 1rem;
}

@media(min-width: 768px){
  .cardlist {
    column-count: 2;
  }

  form {
    margin-bottom: auto;
  }

  form.auth, form.display {
    display: flex;
  }
}

@media(min-width: 1024px){
  .cardlist {
    column-count: 3;
  }
}

@media(min-width: 1440px){
  .cardlist {
    column-count: 4;
  }
}

.truncated {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.pie, .cloud, .header {
  vertical-align: top;
  display: inline-block;
}

.header {
  margin-left: 1rem;
}

.header small {
  cursor: pointer;
}

.cloud {
  width: 100%;
}

.journal
 {
  font-size: 80%;
 }
 .journal > ul {
  column-count: 3;
}

.journal .entry
{
 padding-bottom: 2rem;
}

.journal .entry h2,
.journal .entry h3,
.journal .entry h4,
.journal .entry h5,
.journal .entry h6 {

  /* color: #aaa; */
  margin-top:1rem;
  margin-bottom: 0;
}

.journal h1 { font-size: 2rem;}
.journal h2 { font-size: 1.5rem;}
.journal h3 { font-size: 1rem;}